<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Watchmen</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script src="https://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" id="wp-block-library-css" href="{{ url_for('static', filename='css/main.36fe6a76.css') }}" type="text/css" media="all">
    <!--link rel="stylesheet" id="wp-block-library-css" href="{{ url_for('static', filename='css/gmap.css') }}" type="text/css" media="all"-->

    <!--style-->
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        /*height: 400px;  /* The height is 400 pixels */
        height: 800px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
      }

      .nicebox {
        position: absolute;
        text-align: center;
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 13px;
        z-index: 5;
        box-shadow: 0 4px 6px -4px #333;
        padding: 5px 10px;
        background: white;
        background: linear-gradient(to bottom, white 0%, whitesmoke 100%);
        border: #e5e5e5 1px solid;
      }

      #controls {
        top: 120px;
	left: 5px;
	width: 350px;
	height: 60px;
      }

      #data-box {
        top: 370px;
        left: 410px;
        height: 40px;
        line-height: 45px;
        display: none;
      }


      #legend {
	display: flex;
        display: -webkit-box;
      }

      .color-key {
        background: linear-gradient(
           to right,
          #db4639 0%,
          #db7f29 17%,
          #d1bf1f 33%,
          #92c51b 50%,
          #48ba17 67%,
          #12ab24 83%,
          #0f9f59 100%
        );
        opacity: 0.5;
        flex: 1;
        -webkit-box-flex: 1;
        margin: 0 5px;
        text-align: left;
        font-size: 1em;
        line-height: 1em;
      }

      #data-population {
        font-size: 1em;
        font-weight: normal;
      }

      #data-city {
        font-size: 1em;
        font-weight: normal;
        padding-right: 10px;
      }

      #data-city:after {
        content: ":";
      }

      #data-caret {
        margin-left: -5px;
        display: none;
        font-size: 14px;
        width: 14px;
      }

      #controls-co2 {
	left: 5px;
	width: 350px;
	height: 60px;
      }

      #legend-co2 {
	display: flex;
        display: -webkit-box;
      }

      .color-co2 {
        background: linear-gradient(
           to right,
	  #ffffff 0%,
	  #b3effc 11%,
	  #81d4fa 22%,
          #64b5f6 33%,
          #42a5f5 44%,
          #3f51b5 55%,
          #3949ab 66%,
          #303f9f 77%,
          #4527a0 88%,
          #311b92 100%
        );
        opacity: 0.5;
        flex: 1;
        -webkit-box-flex: 1;
        margin: 0 5px;
        text-align: left;
        font-size: 1em;
        line-height: 1em;
      }

      #data-co2 {
        font-size: 1em;
        font-weight: normal;
      }

      #data-co2label {
        font-size: 1em;
        font-weight: normal;
        padding-right: 10px;
      }

      #data-co2label:after {
        content: ":";
      }

      #co2data-caret {
        margin-left: -5px;
        display: none;
        font-size: 14px;
        width: 14px;
      }
    </style>
</head>
<body>
<div class="container">
    <h3>Watchmen</h3>
    <div id="controls" class="nicebox">
      <label id="data-city" for="data-population">City</label>
      <span id="data-population">Population</span>
      <div id="legend">
        <div id="population-min">min</div>
        <div class="color-key"><span id="data-caret">&#x25c6;</span></div>
        <div id="population-max">max</div>
      </div>
    </div>
    <div id="controls-co2" class="nicebox">
      <label id="data-co2label" for="data-co2">CO2</label>
      <span id="data-co2">tonne carbon/cell</span>
      <div id="legend-co2">
        <div id="co2-min">min</div>
        <div class="color-co2"><span id="co2data-caret">&#x25c6;</span></div>
        <div id="co2-max">max</div>
      </div>
    </div>
    <!--div id="data-box" class="nicebox"-->
    </div>

    <div id="map" height="100%" margin="0" padding="0" padding="hidden"></div>
</div> <!-- container end -->

<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plots.js') }}"></script>
<script src="{{ url_for('static', filename='js/auto-get.js') }}"></script>
<script src="{{ url_for('static', filename='js/gmap.js') }}"></script>

<script defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBiy9CBEVbuTAmrFH-0osNa-wa5vBL2zc&libraries=visualization&callback=initMap">
</script>

</body>
</html>
